@charset "utf-8";
/* CSS Document */
/* 公共样式 start */
*{ padding:0; margin:0;}
body,h1,h2,h3,h4,h5,h6,ul,li,p,input,option,dl,dd,dt{margin:0;padding:0;}
ul,ol{list-style:none;}
img,input{border:none;display:block; }
a{text-decoration:none; color:#666666;}
body{font-family:arial; background-color:#FFF; font-family:"Microsoft YaHei"; font-size:12px;}
.left{ float:left;}
.right{ float:right;}
i{ font-style:normal; font-family:consolas; }
a:hover{ color:#c81623; }
.hide{ display:none;}
.f-left{float: left;}
.f-right{ float: right;}

.none{ display: none;}
/* 清除浮动 */
.clearfix:after{
	content:"200B";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	}
.clearfix{*zoom:1;}

/* 公共样式 end */
.inner{ width: 1000px; margin: 0 auto;}


/*margin 值*/
.mar-r-5{ margin-right: 5px;}
.mar-r-10{ margin-right: 10px;}
.mar-r-15{ margin-right: 15px;}
.mar-l-5{ margin-left: 5px;}
.mar-l-10{ margin-left: 10px;}
.mar-auto{ margin: 0 auto;}
.mar-t-15{ margin-top: 15px;}
.mar-b-15{ margin-bottom: 15px;}

.mar-lr-15{ margin: 0 15px;}
/*投影样式*/
.box-s{box-shadow: 0 10px 25px 0 #666666; }

/*header头部样式  start*/
header .up{ background-color: #f7f7f7; height: 30px; line-height: 30px; border-bottom: 1px solid #ececec; font-size: 14px;}
header .up .tel{ float: left; color: #000000;}
header .up .weibo{ float: right; color: #000000;}
header .down{ margin-bottom: 20px;}
header .down .logo{ float: left; margin-right: 35px;}
header .down .ad{ float: left; margin-top: 8px;}
header .search{ float: right; width: 165px; margin-top: 15px;}
header .search .text{ width: 133px; height: 21px; border:1px solid #c3985e; float: left; padding-left: 5px;}
header .search .s-btn{ float: right; width: 23px; height: 23px; background-color: #c3985e; border: none; color: #ffffff;}

/*菜单栏*/
nav{ position: relative; z-index: 10; height: 40px; line-height: 40px; background:url('../img/menu-bg.png') repeat-x; font-size: 14px;}
nav ul{background:url('../img/index_06.png') no-repeat center center;}
nav ul li{ float:left; padding: 0 20px;}
nav ul li a{ display: block; color: #ffffff;}
nav ul li a:hover{ color: #ffffff;}
nav ul .ac{ background: -webkit-linear-gradient(left,#734a0f , #997527 ,#734a0f); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #734a0f , #997527 ,#734a0f); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #734a0f , #997527 ,#734a0f); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #734a0f , #997527 ,#734a0f); /* 标准的语法（必须放在最后） */}

/*banner样式*/
.banner{ box-shadow:  0 0 10px 5px #e3e3e3;}
.banner .nei{ width: 1000px; height: 417px; margin: 0 auto; margin-top: -417px; position: relative; z-index: 1; }
.banner ul{ width: 1280px; height: 417px; margin: 0 auto;}
.banner ul li{ display:none;}
.banner ol{ position: absolute; bottom: 18px; right: 0;  }
.banner ol li{ float: left; margin: 0 3px; cursor: pointer; border-radius: 50%; width: 15px; height: 15px; background-color:#bfbfbf;}
.banner ol .ac{background-color:#c59a4c;}
.banner .nei div{ position: absolute; top:190px ; width: 30px; height: 55px; overflow: hidden; cursor: pointer;}
.banner .prve{ left: -55px;  background: url(../img/tubiao.png) -260px -245px no-repeat;}
.banner .next{ right: -55px;   background: url(../img/tubiao.png) -265px -176px no-repeat;}


/*首页 列表title部分*/
.title h2{ float: left;  margin-left: 15px; font-size: 18px; font-weight: normal; }
.title h2 span{ color: #9f1500; }
.title .more{ float: right;margin-top: 2px; cursor: pointer;}
.title .more span{ float: left; margin-top: 1px;}
.title .more i{ display: inline-block; width: 15px; height: 15px; margin-top: 3px; margin-left: 5px; overflow: hidden; background: url("../images/tubiao.png") -161px -60px no-repeat;}
.titleLine{ height: 1px; background-color: #e5e5e5;}
.redLine{ width: 139px; height: 1px; background-color: #a68b54;}

/*在线预约*/
.order{width: 240px; background: -webkit-linear-gradient(#ffffff , #f8f8f8); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#ffffff , #f8f8f8); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#ffffff , #f8f8f8); /* Firefox 3.6 - 15 */
    background: linear-gradient(#ffffff , #f8f8f8); /* 标准的语法（必须放在最后） */}
.order .orderBanner{ position: relative;}
.order .orderBanner .box{ position:relative; width:239px; height:299px; overflow:hidden; }
.order .orderBanner ul { position:absolute; left:0; transition:all 0.8s;}
.order .orderBanner ul li{ float:left; display:inline-block}
.order .orderBanner ol{ position: absolute; bottom: 10px; left: 85px; }
.order .orderBanner ol .ac{ background-color: #b28a34; }
.order .orderBanner ol li{ float: left; width: 11px; height: 11px; margin: 0 4px; background-color: #ffffff; border-radius: 50%; cursor:pointer;}
.order .orderCont{ padding: 5px 12px; text-indent: 2em; line-height: 2em; }
.order .orderCont a{ color: #dd2f30;}
/*预约专家*/
.orderBtn{ background-color: #fff; padding: 5px; padding-top: 10px; height: 47px;}
.orderBtn div{ width: 106px; height: 39px;background: url(../img/tubiao.png) -143px -181px no-repeat; line-height: 39px; text-align: center; color: #9d6e07; font-size: 14px; font-weight: bold; overflow: hidden; cursor: pointer;}
.orderBtn div:nth-child(1){ float: left; }
.orderBtn div:nth-child(2){ float: right;}

/*页脚样式*/
footer{ margin-top: 50px; }
footer .up{ width: 100%; height: 208px; background: #d9d9d9; border-bottom: 1px solid #e4e4e4;}
footer .up .line{ float: left; display: block; width: 1px; height: 208px; background: #e4e4e4;}
footer .up dl{ float: left; margin:15px 30px; }
footer .up dl dt{ font-size: 14px; font-weight: bold; margin-bottom: 5px; }
footer .up dl dd a{ display: block; line-height: 25px;}
footer .down{ width: 100%; height: 79px; background:#b9b9b9 ;}
footer .down .logo{ float: left; margin-top: 12px; margin-right: 22px; width: 338px; height: 50px; }
footer .down .text{ padding-top: 20px; line-height:25px ; font-size: 10px;}






